*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/misc.xml
.idea/assetWizardSettings.xml
.idea/render.experimental.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/modules.xml
.idea/modules
.idea/libraries
/.idea/jarRepositories.xml
/.idea/*
/.idea/gradle.xml~master
.idea/deploymentTargetDropDown.xml
.idea/.name
/.idea/gradle.xml
.idea/shelf
/.idea/vcs.xml
app_build.bat
/app/lint-baseline.xml
.run/
java_pid12160.hprof
java_pid17344.hprof
/java_pid27272.hprof
/build-cache
/java_pid24052.hprof
/app/debug
/app/release
/app/releaseStaging
/app/debugStaging
*.hprof
